.layout-default {
  &-header {
    background: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 9999;
  }
  &-main {
    padding: 50px;
  }
  &-footer {
    background: orange;
    text-align: center;
    padding: 10px 20px;
  }

}
.menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    li {
      margin-left: 20px;
      position: relative;
    }
    
  }
  &-link {
    color: #000;
    text-decoration: none;
    &-active {
      color: #fff;
    }
  }
  &-sub{
    position: absolute;
    top: 100%;
    background: orangered;
    right: 0;
    display: none!important;
    flex-direction: column;
    li{
      margin-left: 0!important;
    }      
    a{
      white-space: nowrap;
      display: block;
      padding: 4px 10px;
    }
  }
  li:hover > &-sub{
    display: flex !important;
  }
  
}

