.cart{
  margin: 20px 0;
  &-item{
    display: flex;
    align-items: center;
    border: 1x solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
  }
  &-image{
    width: 100px;
    aspect-ratio: 4/3;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-content{
    margin-left: 15px;
    flex:1;
  }
  &-quantity{
    margin-right: 20px;
    input{
      width: 40px;
      margin: 0 5px;
    }
    
  }
  &-price-new{
    font-weight: 700;
    color: green;
  }
  &-price-old{
    text-decoration: line-through;
  }
  &-total{
    font-size: 20px;
    span{
      font-size: 24px;
      font-weight: 700;
      color: red;
    }
  }
}