.country{
  border: 1px solid orange;
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  min-width: 200px;
}
.country_item{
  border-bottom: 1px solid orange;
}
.country_item:last-child{
  border-bottom: 0;
}

.country_text{
  display: block;
  background: orange;
  color: white;
  padding: 6px 10px;
}
.country_sub{
  padding: 0;
  margin: 0;
  list-style: none;
}
.country_item-item{
  border-bottom: 1px solid orange;
  padding: 6px 10px;
}