.product_list{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.product_item{
  width: 40%;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  margin-left: 20px;
  margin-right: 20px;
}

.product_image{
  width: 100%;
  
}
.product_image img{
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.product_title{
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}